<div class="row">
  <div id="intro" class="col-lg-12">
    <h1>Faceclone</h1>
    <p>Faceclone is a mock Facebook clone written using Ruby on Rails <%= fa_icon 'diamond' %>.
    <br>You may view the source code on <a href="https://github.com/alifawad1994/faceclone"><%= fa_icon 'github' %> Github</a>.</p>
    <hr>
    </a>
  </div>
</div>
